.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 70px;
    background: linear-gradient(to right, #0014FF, #8020EF, #FF2CDF);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 300px;
}

.navigation ul li {
    position: relative;
    width: 60px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.4em;
    text-align: center;
    color: #CACACA;
    transition: .5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-40px);
    z-index: 1;
    color: #221F3A;
}

.navigation ul li a .text {
    position: absolute;
    color: #CACACA;
    font-weight: 600;
    font-size: .9em;
    opacity: 0;
    transform: translateY(15px);
    transition: .5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(20px);
    color: #221F3A;
}

.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #0014FF, #8020EF, #FF2CDF);
    border-radius: 50%;
    border: 6px solid #221F3A;
    transform: translateY(-38px) scale(0);
}

.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-40px) scale(1);
}

/* .indicator {
    position: absolute;
    top: -40px;
    width: 60px;
    height: 6d0px;
    background-color: #8020EF;
    border: 18px solid #221F3A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: .5s;
} 

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius:20px ;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius:20px ;
} */

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(60px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(60px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(60px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(60px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(60px * 4));
}