.input{
  border-width: 0;
  background-color: #221F3A;
  margin-left: 10px;
}
.logo{
  margin-right: 20px;
}
.log{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  /* padding:  10px; */
  /* margin-top: 15px; */
}
.link{
  color: white;
  font-weight: 100;
}
.ForgotP{
  text-align: end;
  justify-content: end;
  padding-right: 25px;
}
.body{
  background-color: #221F3A;
  color: white;
  height: 100vh;
  font-weight: 150;
  text-align: center;
  justify-content: center;
}
.button{
  padding: 10px 80px;
  border-radius: 15px;
  background-color: rgb(62, 19, 119);
  color: white;
  font-weight: 200;
}
a{
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(188, 146, 243);
  color: white;
  font-weight: 200;
}
