.input{
  border-width: 0;
  background-color: rgb(77, 0, 128);
}
.logo{
  padding: 20px 30px;
}
.log{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding:  10px;
  /* margin-top: 15px; */
}
.link{
  color: white;
  font-weight: 100;
}
.ForgotP{
  text-align: end;
  justify-content: end;
  padding-right: 25px;
}
.body{
  background-color: rgb(77, 0, 128);
  color: white;
  height: 100vh;
  font-weight: 150;
  text-align: center;
  justify-content: center;
}
.img{
  margin-right: 10px;
}
.button{
  padding: 10px 80px;
  border-radius: 15px;
  background-color: rgb(62, 19, 119);
  color: white;
  font-weight: 200;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(188, 146, 243);
  color: white;
  font-weight: 200;
}
